{% extends "home/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<style>
  .euskodev-header {
    background-color: #43C6CF;
    color: white;
  }

  .euskodev-button {
    background-color: #43C6CF;
    border-color: #43C6CF;
    color: white;
  }

  .euskodev-button:hover {
    background-color: #36a9b1;
    border-color: #36a9b1;
  }

  .card {
    border-radius: 0.5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  }
</style>
{% endblock %}

{% block content %}
<div class="container" style="padding:30vh;">
<h3 class="" style="color:#36a9b1;">{% trans 'Gracias por completar el test. ; )<br>En breve recibirás un informe con un análisis sobre la digitalización de tu empresa realizado mediante inteligencia artificial.' %}</h3>
</div>
{% endblock %}
